<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-clarity" version="2.3.0">

    <name>Clarity</name>

    <engines>
        <engine name="cordova" version=">=3.4.0" />
    </engines>

    <asset src="www/clarity_plugin.js" target="js/clarity_plugin.js" />

    <js-module src="www/clarity_plugin.js" name="ClarityPlugin">
        <clobbers target="ClarityPlugin" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <!-- Could not get it down to 19 as the Cordova dependenices require it to be 21+ -->
            <preference name="android-minSdkVersion" value="21" />
            <preference name="android-targetSdkVersion" value="34" />

            <feature name="ClarityPlugin">
                <param name="android-package" value="com.microsoft.clarity.cordova.ClarityPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/ClarityPlugin.java" target-dir="src/com/microsoft/clarity/cordova/"/>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ClarityPlugin">
                <param name="ios-package" value="ClarityPlugin" />
            </feature>
        </config-file>

        <source-file src="src/ios/ClarityPlugin.swift" />
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Clarity" />
            </pods>
        </podspec>
    </platform>

    <dependency id="cordova-plugin-device" version="^2.1.0" />

</plugin>
